@font-face {
    font-family: 'bonvenocflight';
    src: url('../font/BonvenoCF-Light-webfont.eot');
    src: url('../font/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/BonvenoCF-Light-webfont.woff') format('woff'),
         url('../font/BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('../font/BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    

}

